name: CI

on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - uses: actions/setup-node@v1

      - name: Cache Gradle wrapper and dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/dists
          key: test-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', '**/gradle.properties', 'gradle/**', 'buildSrc/src/main/**') }}
          restore-keys: |
            test-${{ runner.os }}-gradle-

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run app for testing
        run: |
          nohup java -jar service/build/libs/service-*-all.jar &
          sleep 5s

      - name: Run postman collection
        run: >
          npx newman run
          https://raw.githubusercontent.com/gothinkster/realworld/master/api/Conduit.postman_collection.json
          --delay-request 200
          --global-var "APIURL=http://localhost:8080/api"
          --global-var "USERNAME=username"
          --global-var "EMAIL=username@example.com"
          --global-var "PASSWORD=password"

      - name: Upload service-jar
        uses: actions/upload-artifact@v2
        with:
          name: service-jar
          path: |
            service/build/libs/service-*-all.jar
          retention-days: 7

      - name: Deploy to Heroku
        env:
          HEROKU_API_TOKEN: ${{ secrets.HEROKU_API_TOKEN }}
          HEROKU_APP_NAME: "realworld-backend-micronaut"
        if: github.ref == 'refs/heads/master' && job.status == 'success'
        run: git push https://heroku:$HEROKU_API_TOKEN@git.heroku.com/$HEROKU_APP_NAME.git HEAD:master -f

  graal-8-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup GraalVM CE
        uses: rinx/setup-graalvm-ce@v0.0.5
        with:
          graalvm-version: "21.0.0.2"
          java-version: "java8"
          native-image: "true"

      - uses: actions/setup-node@v1

      - name: Cache Gradle wrapper and dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/dists
          key: test-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', '**/gradle.properties', 'gradle/**', 'buildSrc/src/main/**') }}
          restore-keys: |
            test-${{ runner.os }}-gradle-

      - name: Build with Gradle
        run: ./gradlew build nativeImage -x check

      - name: Save app
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: |
            service/build/native-image/application
            service-api/build/libs/*

      - name: Run app for testing
        run: |
          nohup ./service/build/native-image/application &
          sleep 5s

      - name: Run postman collection
        run: >
          npx newman run
          https://raw.githubusercontent.com/gothinkster/realworld/master/api/Conduit.postman_collection.json
          --delay-request 200
          --global-var "APIURL=http://localhost:8080/api"
          --global-var "USERNAME=username"
          --global-var "EMAIL=username@example.com"
          --global-var "PASSWORD=password"

  graal-11-linux:
    if: "false"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup GraalVM CE
        uses: rinx/setup-graalvm-ce@v0.0.5
        with:
          graalvm-version: "21.0.0.2"
          java-version: "java11"
          native-image: "true"

      - uses: actions/setup-node@v1

      - name: Cache Gradle wrapper and dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/dists
          key: test-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', '**/gradle.properties', 'gradle/**', 'buildSrc/src/main/**') }}
          restore-keys: |
            test-${{ runner.os }}-gradle-

      - name: Build with Gradle
        run: ./gradlew nativeImage

      - name: Save app
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: |
            service/build/native-image/application

      - name: Run app for testing
        run: |
          nohup ./service/build/native-image/application &
          sleep 5s

      - name: Run postman collection
        run: >
          npx newman run
          https://raw.githubusercontent.com/gothinkster/realworld/master/api/Conduit.postman_collection.json
          --delay-request 200
          --global-var "APIURL=http://localhost:8080/api"
          --global-var "USERNAME=username"
          --global-var "EMAIL=username@example.com"
          --global-var "PASSWORD=password"

  graal-8-windows:
    if: "false"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup GraalVM CE
        uses: DeLaGuardo/setup-graalvm@master
        with:
          graalvm-version: "21.0.0.2.java8"

      - name: Install native-image component
        run: |
          gu.cmd install native-image

      - name: Install native-image component
        run: |
          native-image.cmd --version


      - uses: actions/setup-node@v1

      - name: Cache Gradle wrapper and dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/dists
          key: test-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', '**/gradle.properties', 'gradle/**', 'buildSrc/src/main/**') }}
          restore-keys: |
            test-${{ runner.os }}-gradle-

      - name: Build with Gradle
        run: ./gradlew nativeImage --stacktrace

      - name: Save app
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: |
            service/build/native-image/application

      - name: Run app for testing
        run: |
          nohup ./service/build/native-image/application &
          sleep 5s

      - name: Run postman collection
        run: >
          npx newman run
          https://raw.githubusercontent.com/gothinkster/realworld/master/api/Conduit.postman_collection.json
          --delay-request 200
          --global-var "APIURL=http://localhost:8080/api"
          --global-var "USERNAME=username"
          --global-var "EMAIL=username@example.com"
          --global-var "PASSWORD=password"

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Cache Gradle wrapper and dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/dists
          key: test-${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', '**/gradle.properties', 'gradle/**', 'buildSrc/src/main/**') }}
          restore-keys: |
            test-${{ runner.os }}-gradle-

      - name: 'Run tests with JaCoCo'
        shell: bash
        run: |
          ./gradlew --version
          ./gradlew --scan --no-parallel --stacktrace --warning-mode=all -PenableJacoco build jacocoRootReport

      - uses: codecov/codecov-action@v1

  release-notes:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v1
        with:
          configuration: ".github/release-changelog-builder.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download service-jar
        uses: actions/download-artifact@v2
        with:
          name: service-jar

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.github_release.outputs.changelog }}
          draft: true
          files: |
            service-*-all.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}